@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: 700;
}

body {
  margin: 0 0;
}

.header-banner {
    background-image: url(../img/banner-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 590px;
    position: relative;
    z-index: -2;
}  

.header-banner::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    z-index: -1;
}

.container {
    width: 81.666%;
    margin-left: auto;
    margin-right: auto;
   /* border: 2px solid black;*/
  }

.header-box {
  height: 638px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.header-text {
  display: block;
  text-align: center;
  width: 100%;
}

.logo {
    width: 74%;
}

.navigation-list {
  display: none;
}

.heading-one {
  width: 100%;
}

.main-title {
    font-family: OpenSans;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 36px;
    color: white;
    text-align: center;
    margin-top: 25px;
}

.now-trending {
    width: 100%;
}

.big-title {
    font-family: OpenSans;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 36px;
}

.big-title::after {
    content: "";
    display: block;
    width: 18%;
    height: 2px;
    background-color: #e1d9bd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.trending-card {
  display: flex;
  align-items: end;
  position: relative;
}

.trending-card::before {
    content: "";
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
}

.trending-card-text {
  border: 2px solid #9d8a4f;
  z-index: 1;
  margin-bottom: 17px;
}

.trending-card-tags {
  margin-top: 13px;
}

.plants {
    background-image: url(../img/trend1.jpg);
    width: 100%;
    height: 210px;
}

.cheese {
    background-image: url(../img/trend2.jpg);
    width: 100%;
    height:  210px;
}

.hiking {
    background-image: url(../img/trend3.jpg);
    width: 100%;
    height:  210px;
}

.lemons {
    background-image: url(../img/trend4.jpg);
    width: 100%;
    height:  210px;
}

.tag {
    font-family: OpenSans;
    font-weight: 700;
    color: #b59f5b;
    font-size: 14px;
    line-height: 37.2px;
    text-transform: uppercase;
    margin-left: 19px;
}

.trending-title {
    font-family: OpenSans;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
    margin-left: 18px;
    margin-bottom: 19px;
    margin-top: 0;
}

.news-block {
  padding-top: 40px;
  border-bottom: 4px solid #eeeeee;
}

.news-image {
    width: 100%;
    height: 100%;
}

.tags {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0;
}

.link-tag-item {
    font-family: OpenSans;
    font-weight: 700;
    text-decoration: none;
    color: #b59f5b;
    text-transform: uppercase;
    margin-right: 5px;
    margin-left: 0;
}

.news-heading {
  margin-top: 0;
  margin-bottom: 0;
}

.news-heading-link {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.date {
    font-family: OpenSans;
    font-size: 12px;
    line-height: 40px;
    color: #888888;
}

.author {
    font-family: OpenSans;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
}

.news-content {
    font-family: OpenSans;
    font-size: 12px;
    line-height: 20px;
    margin-top: 0;
}

.aside-block {
  display: flex;
  align-items: flex-start;
  margin-bottom: 11px;
} 

.aside-image {
  width: 67px;
}
 
.aside-information {
  margin-left: 13px;
}

.aside-date {
  font-family: OpenSans;
  font-size: 12px;
  line-height: 40px;
  position: relative;
  bottom: 15px;
  right: 5px;
}

.aside-text {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  bottom: 28px;
  right: 7px;
}

.aside-link {
  color: black;
  text-decoration: none;
}

.search-form {
  display: flex;
  margin-top: 46px;
}

.search {
  width: calc(100% - 47px);
  height: 47px;  
  background-color: #f4f7f6;
  border: none;
}

.search-button {
  width: 47px;
  height: 47px;
  background-color: #b59f5b;
  border: none;
}

.magnifying-glass {
  width: 5px;
}

.email-form {
  width: 100%;
  height: 50px;
  background-color: #f4f7f6;
  border: none;
}

.email-button {
  width: 100%;
  height: 50px;
  background-color: #b59f5b;
  font-family: OpenSans;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 9px;
}

.cloud-tags-list {
  padding-left: 0;
}

.cloud-tag-item {
  display: inline-block;
  font-family: OpenSans;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  border: 3px solid #eeeeee;
  list-style-type: none;
  margin-bottom: 2px;
  padding: 2px 5px;
}

.cloud-tag-link {
  color: black;
  text-decoration: none;
}

.topics-list {
  padding-left: 0;
}

.topic {
  display: block;
  height: 32px;
  padding-top: 10px;
  list-style-type: none;
  font-family: OpenSans;
  font-weight: 700;
  font-size: 14px;
  line-height: 47px;
  border-bottom: 1px solid #eeeeee;
}

.topic-link {
  color: black;
  text-decoration: none;
}

.topic-number {
  color: #b59f5b;
  position: relative;
  bottom: 2px;
}

.item-picture {
  display: block;
  width: 79%;
  margin-left: auto;
  margin-right: auto;
}

.item-text {
  border: 3px solid #d3c59d;
  position: relative;
  bottom: 25px;
}

.item-title {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
}

.item-description {
  font-family: OpenSans;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

.item-link {
  color: #b59f5b;
}

.shopping-menu {
  display: flex;
  justify-content: space-between;
}

.price {
  border: 1px solid black;
  width: 50px;
}

.crossed-out-price {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
}

.actual-price {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.shop-button {
  width: 138px;
  height: 50px;
  border: none;
  background-color: #b59f5b;
  font-family: OpenSans;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.social-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social-icon {
  display: block;
  width: 18px;
}

.copyright {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
}

.copyright-link {
  text-decoration: none;
  color: #999999;
}



/*Desktop*/

@media (min-width: 1200px) {

.tag {
    font-family: OpenSans;
    font-weight: 700;
    font-size: 4vw;
    color: #e1d9bd;
    text-transform: uppercase;
}

.trending-title {
    font-family: OpenSans;
    font-weight: 700;
    color: white;
    font-size: 4.444vw;
    text-transform: uppercase;
}

.news-block {
    padding-top: 45px;
    border-bottom: 4px solid #eeeeee;
}

.news-block:nth-child(1) {
    padding-top: 64px;
  }
  
.news-block:nth-child(n+2) {
   margin-top: 53px;  
  }
  
.news-image {
    width: 381px;
    padding-right: 30px;
  }
  
.text-block {
    width: 367px;
  }
  
  .tags {
    display: flex; 
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    font-family: OpenSans;
    font-weight: bold;
    padding-left: 0;
    margin: 0 20px 0 0;
  }
  
  .tag-item {
      list-style-type: none;
  }
  
  .link-tag-item {
    text-decoration: none;
    color: #b59f5b;
    margin-right: 20px;
  }
  
  .link-tag-item:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .news-heading {
    display: block;
    font-family: OpenSans;
    font-weight: bold;
    font-size: 20px;
    width: 367px;
    text-transform: uppercase;
    line-height: 24px;
    margin: 0;
    margin-top: 5px;
  }
  
  .news-heading:hover {
    color: #b59f5b;
    cursor: pointer;
  }
  
  .news-heading-link {
    text-decoration: none;
    color: black;
  }
  
  .date {
    font-family: OpenSans;
    font-size: 12px;
  }
  
  .author {
    font-family: OpenSans;
    font-weight: bold;
    font-size: 12px;
  }
  
  .date, .author {
    display: inline-block;
    padding-top: 28px;
    padding-right: 9px;
    

  }

.news-content {
    font-family: OpenSans;
    font-size: 15px;
    width: 367px;
    display: block;
    margin-top: 45px;
    line-height: 22px;
  }
  
  .second-paragraph {
    font-family: OpenSans;
    font-size: 15px;
    width: 100%;
    display: block;
    margin-bottom: 3px;
  }

  .aside-title {
    font-family: OpenSans;
    font-weight: 700;
    font-size: 4.444vw;
    text-align: center;
  }

}