@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: 700;
}

body {
  margin: 0 0;
  position: relative;
  font-family: OpenSans, sans-serif;
}

/* body::before {
  content: "";
  background-color: black;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
} */

.header-banner {
    background-image: url(../img/banner-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 641px;
    position: relative;
    z-index: -2;
}  

/* .header-banner::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
} */

.container {
  /* width: 330px; */
  width: 325px;
  margin-left: auto;
  margin-right: auto;
}

.header-box {
  height: 638px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 228px;
  z-index: 1;
  position: relative;
}

.logo-tablet {
  display: none;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 40px;
}

.menu-line {
  width: 24px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}


/*Popup*/

.popup {
  background-color: #ffffff;
  width: 330px;
  min-height: 400px;
  position: fixed;
  z-index: 3;
  top: 40px;

  display: none;
}

.form-x {
  width: 30px;
  position: absolute;
  right: 0px;
  top: -30px;
}

.feedback {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.feedback-title {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 21px;
}

.visit-frequency-question {
  margin-top: 23px;
}

.feedback-question {
  font-family: OpenSans;
  font-weight: normal;
  font-size: 12px;

  display: block;
}

.visit-frequency {
  width: 100%;
  height: 50px;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: #f4f7f6;
  padding-left: 13px;
  margin-top: 4px;

  background-image: url(../svg/form-arrows.svg);
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: 10px;

  color: #a2a4a3;
}

.email-question {
  margin-top: 20px;
}

.answer {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-button-text {
  font-family: OpenSans;
  font-weight: normal;
  font-size: 13px;
}

.radio-button-text::before {
  content: "";
  background-image: url(../svg/form-empty-circle.svg);
  background-size: 100%;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-top: 10px;
}

.answer:checked + .radio-button-text::before {
  content: "";
  background-image: url(../svg/form-circle.svg);
  background-size: cover;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.yes-button-text {
  margin-right: 20px;
}

.recipe-question {
  margin-top: 42px;
}

.textarea {
  font-family: OpenSans;
  font-weight: normal;
  font-size: 13px;
  background-color: #f4f7f6;
  border: none;
  width: 266px;
  max-width: 266px;
  padding-left: 13px;
  padding-top: 14px;
  padding-bottom: 60px;
  margin-top: 7px;
  color: #a2a4a3;
}

.send-button {
  background-color: #b59f5b;
  font-family: OpenSans;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  border: none;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*The rest of the page*/


.header-text {
  display: block;
  text-align: center;
  width: 100%;
}

.logo-mobile {
    /* width: 75%; */
    width: 263px;
    /**/
    margin-right: 5px;
}

.navigation-list {
  display: none;
}

.heading-one {
  width: 100%;
  margin-left: -6px;
  margin-top: 30px;
}

.main-title {
    font-family: OpenSans;
    font-weight: 700;
    text-transform: uppercase;
    /* font-size: 23px; */
    font-size: 25px;
    line-height: 36px;
    color: white;
    text-align: center;
    margin-top: 25px;

    /* width: */
    width: 332px;
}

.now-trending {
    width: 100%;
}

.big-title-line::after {
    content: "";
    display: block;
    width: 75px;
    height: 2px;
    background-color: #e1d9bd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.now-trending-title {
  font-family: OpenSans;
  font-weight: 700;
  /* font-size: 15px; */
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 37px;
  /* margin-bottom: 17px; */
  margin-bottom: 28px;
}

.trending-card {
  display: flex;
  align-items: end;
  position: relative;
  border-bottom: 2px solid white;
}

.trending-card::before {
    content: "";
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
}

.trending-card-text {
  border: 2px solid #9d8a4f;
  z-index: 1;
  margin-bottom: 17px;
  padding-top: 3px;

}

.trending-card-tags {
  margin-top: 13px;
  /**/
  position: relative;
  bottom: 5px;
}

.plants {
    background-image: url(../img/trend1.jpg);
    width: 100%;
    /* height: 210px; */
    height: 230px;
}

.cheese {
    background-image: url(../img/trend2.jpg);
    width: 100%;
    /* height:  210px; */
    height: 231px;
}

.hiking {
    background-image: url(../img/trend3.jpg);
    width: 100%;
    /* height:  210px; */
    height: 232px;
}

.lemons {
    background-image: url(../img/trend4.jpg);
    width: 100%;
    /* height:  210px; */
    height: 230px;
}

.tag {
    font-family: OpenSans;
    font-weight: 700;
    color: #b59f5b;
    font-size: 13px;
    line-height: 37.2px;
    text-transform: uppercase;
    margin-left: 22px;
}

.trending-title {
    font-family: OpenSans;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
    margin-left: 21px;
    margin-bottom: 26px;
    margin-top: 0;
    width: 275px;
}

.news-block {
  padding-top: 40px;
  border-bottom: 4px solid #eeeeee;
}

.news-image {
    width: 100%;
    height: 100%;
}

.tags {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0;
}

.link-tag-item {
    font-family: OpenSans;
    font-weight: 700;
    text-decoration: none;
    color: #b59f5b;
    text-transform: uppercase;
    margin-right: 5px;
    margin-left: 0;
}

.news-heading {
  margin-top: 0;
  margin-bottom: 0;
}

.news-heading-link {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.date {
    font-family: OpenSans;
    font-size: 12px;
    line-height: 40px;
    color: #888888;
}

.author {
    font-family: OpenSans;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
}

.news-content {
    font-family: OpenSans;
    font-size: 12px;
    line-height: 20px;
    margin-top: 0;
}

.aside-title {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 17px;
}

.aside-block {
  display: flex;
  align-items: flex-start;
  margin-bottom: 11px;
} 

.aside-image {
  width: 67px;
}
 
.aside-information {
  margin-left: 13px;
}

.aside-date {
  font-family: OpenSans;
  font-size: 12px;
  line-height: 40px;
  position: relative;
  bottom: 10px;
  right: 5px;
}

.aside-text {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  bottom: 23px;
  right: 3px;
}

.aside-link {
  color: black;
  text-decoration: none;
}

.search-form {
  display: flex;
  margin-top: 46px;
}

.search {
  width: calc(100% - 47px);
  height: 47px;  
  background-color: #f4f7f6;
  border: none;
}

.search-button {
  width: 47px;
  height: 47px;
  background-color: #b59f5b;
  border: none;
}

.magnifying-glass {
  width: 20px;
}

.distribution-title {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 17px;
}

.email-form {
  width: 100%;
  height: 50px;
  background-color: #f4f7f6;
  border: none;
}

.email-button {
  width: 100%;
  height: 50px;
  background-color: #b59f5b;
  font-family: OpenSans;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 9px;
}

.tags-title {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 17px;
}

.cloud-tags-list {
  padding-left: 0;
}

.cloud-tag-item {
  display: inline-block;
  font-family: OpenSans;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  border: 3px solid #eeeeee;
  list-style-type: none;
  margin-bottom: 9px;
  padding: 3px 9px;

}

.cloud-tag-link {
  color: black;
  text-decoration: none;
}

.topics-title {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
}

.topics-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #e1d9bd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.topics-list {
  padding-left: 0;
}

.topic {
  display: block;
  height: 40px;
  list-style-type: none;
  font-family: OpenSans;
  font-weight: 700;
  font-size: 12px;
  line-height: 47px;
  border-bottom: 1px solid #eeeeee;
}

.topic-link {
  color: black;
  text-decoration: none;
}

.topic-number {
  color: #b59f5b;
  position: relative;
  bottom: 2px;
}

.items-title {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 27px;
}

.item-picture {
  display: block;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.item-text {
  border: 3px solid #d3c59d;
}

.pillows-text {
  position: relative;
  bottom: 25px;
  padding-bottom: 35px;
}

.rabbit-text {
  position: relative;
  bottom: 25px;
  padding-bottom: 35px;
}

.frame-text {
  position: relative;
  bottom: 25px;
  padding-bottom: 35px;
}

.item-content {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.item-title {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  position: relative;
  top: 21px;
}

.item-description {
  font-family: OpenSans;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  display: block;
  width: auto;

  position: relative;
  top: 10px;
}

.item-link {
  color: #b59f5b;
  text-decoration: none;
}

.shopping-menu {
  display: flex;
  justify-content: space-between;
}

.price {
  width: 50px;
  position: relative;
  top: 16px;
}

.crossed-out-price {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
  position: relative;
  top: 3px;
}

.actual-price {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  bottom: 5px;
}

.doll-rabbit-price {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  top: 40px;
}

.shop-button {
  width: 126px;
  height: 50px;
  border: none;
  background-color: #b59f5b;
  font-family: OpenSans;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: 18px;
}

.social {
  background-color: #f4f7f6;
  height: 78px;

  margin-left: auto;
  margin-right: auto;
}

.social-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 29px;
}

.social-icon {
  display: block;
  width: 18px;
  margin-right: 27px;
}

.copyright {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  margin-top: 38px;
}

.copyright-link {
  text-decoration: none;
  color: #999999;
}

@media (orientation:landscape) {
  .trending-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .trending-card {
    width: 50%;
  }
}


/* Tablet */

@media (min-width: 641px) and (max-width: 1199px) {
  
  .container {
    width: 90%;
  }

  .news-container {
    width: 394px;
    margin-left: 31px;
    margin-top: 10px;
  }

  .header-banner {
    height: 393px;
  }

  .header-box {
    display: block;
    padding-top: 0;
  }

  .top-line {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
  }
  
  .logo-tablet {
    display: block;
    width: 155px;
  }

  .menu-container {
    display: block;
    position: static;
    margin-top: 10px;
    position: relative;
    left: 6px;
  }

  .logo-mobile {
    display: none;
  }

  .heading-one {
    margin-top: 90px;
  }

  .main-title {
    font-size: 40px;
    line-height: 55px;
    width: 635px;
    margin-left: 35px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .now-trending-title {
    font-size: 17px;
    margin-top: 44px;
    margin-bottom: 23px;
    margin-right: 6px;
  }

  .trending-card {
    width: calc(50% - 2px);
  }

  .plants {
    height: 245px;
    border-right: 2px solid white;
  }
  
  .cheese {
    height: 245px;
  }

  .hiking {
    height: 245px;
    border-right: 2px solid white;
  }

  .lemons {
    height: 245px;
  }

  .news-image {
    width: 100%;
  }

  .tags {
    margin-top: 6px;
    margin-left: 3px;
  }

  .link-tag-item {
   margin-right: 18px; 
  }

  .news-heading {
    margin-top: 9px;
    line-height: 21px;
  }

  .news-heading-link {
    font-size: 17px;
  }

  .news-attributes {
    display: flex;
    margin-top: 20px;
  }
  
  .date {
    display: block;
    margin-right: 13px;

  }

  .news-content {
    font-size: 15px;
    line-height: 22px;
    margin-top: 16px;
    margin-left: 2px;
  }

  .aside {
    margin-left: 21px;
    margin-top: 38px;
  }

  .aside-title {
    font-size: 14px;
    margin-top: 8px;
    margin-right: 14px;
    margin-bottom: 17px;
  }

  .big-title-line::after {
    width: 68px;
    margin-top: 10px;
  }

  .little-image-beach {
    margin-top: 15px;
  }

  .aside-text {
    font-size: 14px;
  }

  .

  .items-title {
    font-size: 18px;
    margin-top: 46px;
    margin-right: 21px;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item-card {
    width: calc(50% - 24px);
  }

  .item-picture {
    width: 85%;
  }

  .pillows-text {
    padding-bottom: 79px;
  }

  .item-content {
    width: 85%;
  }

  .item-description {
    width: auto;
  }
}

@media (min-width: 641px) and (max-width: 1199px) (orientation: landcape) {
  .trending-cards {
    display: flex;
  }
}



/* Desktop */

@media (min-width: 1200px) {
 
  .header-banner {
    height: 450px;
  }

  .container {
    width: 90%;
    max-width: 1170px;
  }

  .header-box {
    display: block;
    height: 450px;
  }

  .logo-tablet {
    display: block;
    width: 180px;
  }

  .top-line {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  .menu-container {
    display: block;
    position: static;
    margin-top: 0px;
  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    margin: 0 0;
  }

  .list-item {
    margin-right: 30px;
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .logo-mobile {
    display: none;
  }

  .heading-one {
    font-family: OpenSans, sans-serif;
    font-size: 45px;
    line-height: 75px;
  }

  .trending-cards {
    display: flex;
  }

  .trending-card {
    width: calc(25% - 2px);
    border: 1px solid white;
  }

  .flex {
    display: flex;
  }

  .news-block {
    display: flex;
    border-bottom: none;
  }
}
